.home{
    display: flex;
    background-size: cover;

}
.home_row
{
    display: flex;
    align-items: flex-start;
}
.home_img
{
    display: flex;
    width:100%;
    margin-bottom: -150px;
    mask-image: linear-gradient();
   
}

